:host{
    div{
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        border-radius: 100px;
        margin: 1rem 2rem 1rem 2rem;
        background-color: rgba(221, 82, 82, 0.5);   
        padding-bottom: 1.2rem;
        padding-top: 1rem;
    }

    progress{
        width: 50%;
    }

    div, progress, span {
        margin-top: 0.6rem;
    }

    .selected-item{
       border: 1px solid red;
    }
}