<div class="container">
    <div class="items">
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>     
        <app-achivment-item></app-achivment-item>  
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>
        <app-achivment-item></app-achivment-item>     
        <app-achivment-item></app-achivment-item>   
    </div>
</div>