<div class="container">
    <div class="items">
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
        <div>
            <img src="../../../assets/images/achivments-icons/trophy.png">
            <span>Achivment name    </span>
            <progress max="100" value="70"></progress>
        </div>
    </div>
</div>